@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1058%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(42%2c 75%2c 124%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c709.486C161.636%2c702.837%2c331.563%2c814.062%2c474.604%2c738.499C618.279%2c662.601%2c662.329%2c480.749%2c720.327%2c328.962C775.135%2c185.524%2c840.157%2c33.282%2c800.777%2c-115.134C762.613%2c-258.966%2c612.029%2c-333.423%2c514.704%2c-445.993C417.241%2c-558.724%2c371.717%2c-737.043%2c228.25%2c-777.346C84.74%2c-817.661%2c-52.48%2c-703.531%2c-189.002%2c-643.68C-308.278%2c-591.389%2c-415.746%2c-529.076%2c-519.026%2c-449.739C-647.172%2c-351.3%2c-836.671%2c-283.456%2c-865.03%2c-124.373C-893.262%2c33.997%2c-712.541%2c148.734%2c-652.304%2c297.897C-588.077%2c456.94%2c-645.438%2c687.076%2c-500.379%2c778.605C-355.036%2c870.313%2c-171.712%2c716.549%2c0%2c709.486' fill='%231d3354'%3e%3c/path%3e%3cpath d='M1920 1825.327C2078.997 1815.8339999999998 2259.84 1902.769 2387.839 1807.972 2516.304 1712.83 2504.891 1519.662 2542.513 1364.292 2573.17 1237.687 2578.917 1114.041 2587.348 984.05 2598.197 816.789 2683.014 636.644 2599.12 491.539 2514.3630000000003 344.94100000000003 2324.01 304.692 2163.453 250.875 1997.358 195.202 1820.182 118.76599999999996 1654.214 174.817 1489.579 230.41899999999998 1414.045 411.65700000000004 1299.766 542.564 1184.987 674.044 991.672 770.8530000000001 981.773 945.1030000000001 971.81 1120.481 1177.154 1226.146 1251.902 1385.1100000000001 1325.4180000000001 1541.455 1270.5610000000001 1771.009 1414.826 1866.067 1558.81 1960.94 1747.877 1835.604 1920 1825.327' fill='%233763a4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1058'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-repeat: no-repeat;
  background-size: cover;
}

