.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
